<h1>Zero-Bullshit-Food Berlin</h1>
<h2>Your source for nothing but the best food in Berlin</h2>

<%= image_tag("beef1.jpg", class:"img-responsive product") %>
<%= image_tag("veggis.jpg", class:"img-responsive product") %>
