// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: sans-serif;
  color: lightblue;
  text-align: center;
  margin: 1em;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  margin: 1em;
}

.home, .about, .contact, .products, .sale {
  padding: 1em;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  width: 25%;
}

.carousel-img {
  width: 300px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product_img {
  width:200px;
  height:200px;
  object-fit:scale-down;
}

// login

.nav-item {
  margin: auto;
  width: 100%;
  text-align: center;
}

.nav-link {
  margin: auto;
}

// login/logout button

.login-button {
  border-style: solid;
  border-width: thick;
  border-color: green;
}

.sign-up-form {
  width: 50%;
  text-align: center;
  margin: auto;
}

// sign-in/sign-out button

.sign-up-button {
  border-style: solid;
  border-width: thick;
  border-color: green;
}

.login-button {
  border-style: solid;
  border-width: thick;
  border-color: green;
}

// contact

.form-group {
  width: 70%;
  text-align: center;
  margin: auto;
}

.send_button {
  margin: 2em auto;
  display: block;
}


// product_show page

.thumbnail {
  width: 300px;
  height: auto;
}

.product-description {
  display: block;
}

// footer

footer {
  text-align: center;
  margin: 5em;
}
